body {
    margin: 0px;
    padding: 0px;
}

/* HEADER AND NAVBAR */
header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(22, 11, 87);
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 100%;
}

.main {
    width: 35%;
    padding: 1%;
    display: flex;
}

.logo img {
    width: 8%;
    margin-left: 1%;
    ;
    position: absolute;
}

.main a {
    margin-left: 30%;
    margin-top: 2%;
    color: white;
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;

}

.main a:hover {
    color: red;
    transform-style: preserve-3d;
    transition-duration: 300ms;
}

ul {
    display: flex;
    margin: 10px;
    vertical-align: bottom;
}


li {
    list-style-type: none;
    margin: 15px;
}

li a {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
}

li a:hover {
    color: red;
    transform-style: preserve-3d;
    transition-duration: 300ms;
}

nav {
    width: 50%;
    height: 100%;
    padding: 0.5%;
}

.p {
    width: 7%;
    height: 2%;
    padding: 10px;
    margin-right: 2%;
    justify-content: center;
    margin-top: 20px;
    border-radius: 10px;
}

.p:hover {
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition-duration: 300ms;
    color: black;
}

.p:hover a {
    color: black;
}

.p a {
    color: white;
    padding: 1px;
    font-weight: bolder;
    font-family: 'Ubuntu', sans-serif;
}

.p a:hover {
    color: black;
}


a {
    text-decoration: none;
    font-weight: bolder;
}

/* HEADER AND NAVBAR FINISH */

.img {
    width: 70%;
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 120px;
}

.img img {
    width: 300px;
}

.aboutus {
    width: 50%;
    margin-left: 50px;
    display: flex;
}

#aboutus {
    font-size: 18px;
    width: 100%;
    height: auto;
    margin-top: 0px;
    text-align: justify;
    font-family: 'Ubuntu', sans-serif;
    line-height: 25pt;
}

#span {
    margin-bottom: 50px;
    font-size: 50px;
    font-family: 'Koulen', cursive;
    font-family: 'Ubuntu', sans-serif;
}

.contactus {
    margin-top: ;
    float: right;
    margin-right: 76.4%;
    margin-top: 8%;
}

.contactus a {
    text-transform: uppercase;
    padding: 12px 15px;
    color: black;
    font-size: 15px;
    border: rgb(22, 11, 87) 1px solid;
}

.contactus a:hover {
    background-color: black;
    color: white;
    transition-duration: 150ms;
}

#mot {
    align-items: center;
    align-content: center;
    width: 50%;
    text-align: center;
    font-family: 'ZCOOL XiaoWei', serif;
    margin-left: 25%;
    margin-top: 10%;
    font-size: 50px;
    margin-bottom: 100px;
}

#mot hr {
    width: 43%;
    margin-top: 15px;
    height: 5px;
    background-color: rgb(22, 11, 87);
    border: 0px;
}

.meetourteam {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    height: auto;
}

.mot {
    width: 20%;
    height: auto;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    line-height: 25px;
    padding: 15px;
}

.mot img {
    width: 100%;
    margin-bottom: 50px;
}

h6 {
    font-size: large;
    margin-top: -20px;
    margin-bottom: -40;
    font-family: 'Varela Round', sans-serif;
}